<div>
  <%= tag.div(@current_player.first_name, id: dom_id(@current_player, :first_name_of)) %>
  <%= tag.div(@current_player.last_name, id: dom_id(@current_player, :last_name_of)) %>
  <%= tag.div("is on the ", id: dom_id(@current_player, :is_on_the)) %>
  <%= tag.div(link_to_name(@current_player.team), id: dom_id(@current_player, :team_of)) %>
</div>
