<% content_for :title, "Editing #{@conference.name}" %>

<h1>Editing Conference</h1>

<%= render "form", conference: @conference %>

<div class="actions">
  <%= link_to "Show this conference", @conference, class: "button" %>
  <%= link_to "Back to conferences", conferences_path, class: "button" %>
</div>
