<% content_for :title, "New Conference" %>

<h1>New Conference</h1>

<%= render "form", conference: @conference %>

<div class="actions">
  <%= link_to "Back to conferences", conferences_path, class: "button" %>
</div>
