While editing erb templates, use Rails tag builders rather than HTML.
Be aware of opportunities to turn reusable blocks into helper methods.  While parametrizing the methods, be mindful that they might be used for multiple domain models.

Tailwind CSS is being used.  Yet we still have a goal to make it more concise and meaningful.
Groups of tailwind keywords can be turned into helper methods.
CSS class names can also be used to leverage similar rules for similar structures.  The Tailwind @apply directive can be used.

In general this project is expected to have three main types of templates.
One will be scaffolds for admins and moderators.
Another will be scaffold-like interfaces for users.
Then there will be more customized interfaces.

Since helper methods need access to instance variables, there are three ways to provide them.
@variables, method parameters, and hash elements.
Choose the most appropriate way for each case.
