<% content_for :title, "Edit Spectrum" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-3xl mb-6">Edit Spectrum</h1>

  <div class="bg-white rounded-lg shadow-md overflow-hidden p-6 mb-6">
    <%= render "form", spectrum: @spectrum %>
  </div>
</div>
