<% content_for :title, "Countries" %>

<h1>Countries</h1>

<div id="countries">
  <% @countries.each do |country| %>
    <%= tag.div(id: dom_id(country), class: "index-record") do %>
      <%= display_name_with_lazy_logo country, logo_attribute: :flag_url %>
      <%= association_links country %>
    <% end %>
  <% end %>
</div>
